@import 'tailwindcss';

@theme {
  --color-boho-wheat: #eae0d5;
  --color-boho-gold: #c5a059;
  --color-boho-denim: #4a6a8a;
  --color-boho-navy: #0a192f;

  --font-sans: 'Inter', sans-serif;
  --font-barlow: 'Barlow Condensed', sans-serif;
}

body {
  @apply bg-boho-wheat/20 text-boho-navy font-sans antialiased;
}

.bg-pattern {
  background-image: radial-gradient(#c5a059 1px, transparent 1px);
  background-size: 24px 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-barlow tracking-wide;
}
