@import "tailwindcss";

@theme {
  --color-boho-sand: #D4C4B7;
  --color-boho-clay: #A66B53;
  --color-boho-sage: #808A7C;
  --color-boho-dark: #2D312E;

  --font-sans: 'Inter', sans-serif;
  --font-barlow: 'Barlow Condensed', sans-serif;
}

body {
  @apply bg-white text-boho-dark font-sans antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-barlow tracking-wide;
}
